---
import type { CollectionEntry } from 'astro:content';
import { getCollection, render } from 'astro:content';
import BaseLayout from '~/layouts/BaseLayout.astro';

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => {
        const slug = post.id;

        return {
            params: { slug },
            props: post,
        };
    });
} 

type Props = CollectionEntry<"blog">;

const post: Props = Astro.props;
const { Content } = await render(post);
const {
    data: { description, title },
} = post;

---
<BaseLayout description={description} title={title}>
    <main>
        <h2>{title}</h2>
        <Content />
    </main>
</BaseLayout>