---
import BaseLayout from "~/layouts/BaseLayout.astro";

const title = "Novelty Cycles Home";
const description = "Novelty cycles home page, step in and explore our world.";
---

<BaseLayout title={title} description={description}>
	<main>
		<h2>Who are we?</h2>
		<p>We are Novelty Cycles.</p>
	</main>
</BaseLayout>